
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
/public/build
###< symfony/framework-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/uploads/
npm-debug.log
yarn-error.log
doctrine.doctrine-bundle.updates-for-deleted-files.patch
###< symfony/webpack-encore-bundle ###
