{% extends 'base.html.twig' %}

{% block title %}New BlogPost{% endblock %}
{% block mainHeader %}
    <div
        class="text-center bg-image"
        {% if group.image is defined and group.image is not null and group.image.image is not null %}
            style="background-image: url('{{ asset('uploads/' ~ group.image.image) }}'); height: 200px"
        {% endif %}
    >
    </div>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="add_new_group_header">
            <h2 class="add_new_group_title">
                Créer votre Post
            </h2>
            <div class="btn_container">
                <a class="btn back" href="{{ path('group_show', {'id': group.id}) }}" style="background-color: #c92240; color: white; padding: 7px 10px; ">back to list</a>
{#                <a href="#" class="btn" style="background-color: #66B1F1; color: white; padding: 7px 10px; "#}
{#                >{{ button_label|default('Save') }}</a>#}
            </div>

        </div>

        {{ include('blog_post/_form.html.twig') }}

    </div>

{% endblock %}
